{% extends 'content.html' %}

{% block marketing %}
  <body class="body-marketing body-gradient">
    <script src="../dist/js/tabler-theme.min.js?1752697820" integrity="sha384-SoDJmj40r6f9Rfxi6Fq+bNS8ofhlZMyxHk9dq9Y8e1M17PZGkBRN/XUpx8swn0i5"></script>
    <header class="navbar navbar-expand-lg navbar-transparent py-3">
      <div class="container">
        <a href=".." aria-label="Tabler" class="navbar-brand navbar-brand-autodark">
          Платформа для проведения викторин в Telegram
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <nav class="navbar-nav ms-auto">
            <div class="nav-item">
              <a class="nav-link active" href="../marketing"><span class="nav-link-title">Главная</span></a>
            </div>
            <div class="nav-item">
              <a class="nav-link" href="../marketing/testimonials.html"><span class="nav-link-title">Отзывы</span></a>
            </div>
            <div class="nav-item">
              <a class="nav-link" href="../marketing/pricing.html"><span class="nav-link-title">Тарифы</span></a>
            </div>
            <div class="nav-item">
              <a class="nav-link" href="../marketing/about.html"><span class="nav-link-title">О нас</span></a>
            </div>
            <div class="nav-item">
              <a class="nav-link" href="../marketing/text.html"><span class="nav-link-title">Документация</span></a>
            </div>
            <div class="nav-item ms-4">
              <a href="{% url 'users:login' %}" class="btn btn-primary">Авторизоваться</a>
            </div>
          </nav>
        </div>
      </div>
    </header>


    <section class="section mt-5">
      <div class="container-narrow text-center">
        <h3 class="h1">Создавайте увлекательные викторины в Telegram<br>без технических сложностей</h3>
        <p class="text-secondary">
          QuizBot Pro - это мощная платформа для создания, запуска и управления викторинами в мессенджере Telegram.
          Привлекайте аудиторию, повышайте вовлеченность и достигайте своих целей с помощью интерактивных квизов.
        </p>
        <div class="btn-list justify-content-center mt-6">
          <a href="#" class="btn btn-primary btn-2"> Начать бесплатно </a>
          <a href="#" class="btn btn-3">
            Узнать больше
            <!-- Download SVG icon from http://tabler.io/icons/icon/chevron-right -->
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-end icon-2">
              <path d="M9 6l6 6l-6 6"></path>
            </svg>
          </a>
        </div>
      </div>
    </section>
    <section class="section section-light mt-5">
      <div class="container">
        <div class="section-header">
          <h2 class="section-title">Все необходимое для создания успешных викторин</h2>
          <div class="section-description">
            От простых опросов до сложных многоуровневых квизов с автоматической проверкой ответов и системой баллов.
          </div>
        </div>
        <div class="row g-lg-10 mt-5">
          <div class="col-lg-6">
            <div class="space-y-6">
              <div>
                <div class="row">
                  <div class="col-auto">
                    <div class="shape shape-md">
                      <!-- Download SVG icon from http://tabler.io/icons/icon/tools -->
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-1">
                        <path d="M3 21h4l13 -13a1.5 1.5 0 0 0 -4 -4l-13 13v4"></path>
                        <path d="M14.5 5.5l4 4"></path>
                        <path d="M12 8l-5 -5l-4 4l5 5"></path>
                        <path d="M7 8l-1.5 1.5"></path>
                        <path d="M16 12l5 5l-4 4l-5 -5"></path>
                        <path d="M16 17l-1.5 1.5"></path>
                      </svg>
                    </div>
                  </div>
                  <div class="col">
                    <h3 class="h2 mb-2">Интуитивный конструктор</h3>
                    <p class="text-secondary m-0">
                      Создавайте викторины за минуты с помощью простого визуального редактора. Добавляйте вопросы,
                      варианты ответов, настраивайте таймеры и систему подсчета очков без программирования.
                    </p>
                  </div>
                </div>
              </div>
              <div>
                <div class="row">
                  <div class="col-auto">
                    <div class="shape shape-md">
                      <!-- Download SVG icon from http://tabler.io/icons/icon/brand-bootstrap -->
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-1">
                        <path d="M2 12a2 2 0 0 0 2 -2v-4a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v4a2 2 0 0 0 2 2"></path>
                        <path d="M2 12a2 2 0 0 1 2 2v4a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-4a2 2 0 0 1 2 -2"></path>
                        <path d="M9 16v-8h3.5a2 2 0 1 1 0 4h-3.5h4a2 2 0 1 1 0 4h-4z"></path>
                      </svg>
                    </div>
                  </div>
                  <div class="col">
                    <h3 class="h2 mb-2">Глубокая аналитика</h3>
                    <p class="text-secondary m-0">
                      Отслеживайте результаты участников, анализируйте статистику по каждому вопросу и получайте
                      детальные отчеты об эффективности ваших викторин. Понимайте свою аудиторию лучше.
                    </p>
                  </div>
                </div>
              </div>
              <div>
                <div class="row">
                  <div class="col-auto">
                    <div class="shape shape-md">
                      <!-- Download SVG icon from http://tabler.io/icons/icon/paint -->
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-1">
                        <path d="M5 3m0 2a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v2a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2z"></path>
                        <path d="M19 6h1a2 2 0 0 1 2 2a5 5 0 0 1 -5 5l-5 0v2"></path>
                        <path d="M10 15m0 1a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1z"></path>
                      </svg>
                    </div>
                  </div>
                  <div class="col">
                    <h3 class="h2 mb-2">Гибкие настройки</h3>
                    <p class="text-secondary m-0">
                      Настраивайте викторины под свои нужды: ограничение по времени, случайный порядок вопросов,
                      различные типы вопросов (один ответ, несколько ответов, текстовый ответ), система рейтингов.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mt-3 mt-lg-0">
            <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="500" height="400" viewBox="0 0 500 400" fill="transparent" stroke="var(--tblr-border-color, #b8cef1)" style="width: 100%; height: auto">
              <rect x=".5" y=".5" width="499" height="399" rx="2"></rect>
              <line x1="0" y1="0" x2="500" y2="400"></line>
              <line x1="0" y1="400" x2="500" y2="0"></line>
            </svg>
          </div>
        </div>
      </div>
    </section>
    <section class="section mt-5">
      <div class="container">
        <div class="section-header">
          <h2 class="section-title">Нам доверяют сотни клиентов</h2>
          <p class="section-description">Отзывы наших пользователей, которые уже используют платформу для своих проектов</p>
        </div>
        <div class="row g-lg-12">
          <div class="col-md-12 col-lg-12">
            <div class="row g-lg-12">
              <div class="col-4">
                <a href="#" class="card bg-surface-secondary">
                  <div class="card-body">
                    <div class="row mb-3">
                      <div class="col-auto"><span class="avatar avatar-md" style="background-image: url(../static/avatars/052f.jpg)"> </span></div>
                      <div class="col">
                        <h3 class="h3 m-0">Анна Петрова</h3>
                        <div class="text-secondary">Преподаватель онлайн-курсов</div>
                      </div>
                    </div>
                    <p>
                      Использую QuizBot Pro для проверки знаний студентов. Платформа значительно экономит время на проверке тестов
                      и делает процесс обучения более интерактивным. Студенты в восторге!
                    </p>
                  </div>
                </a>
              </div>
              <div class="col-4">
                <a href="#" class="card bg-surface-secondary">
                  <div class="card-body">
                    <div class="row mb-3">
                      <div class="col-auto"><span class="avatar avatar-md" style="background-image: url(../static/avatars/002m.jpg)"> </span></div>
                      <div class="col">
                        <h3 class="h3 m-0">Дмитрий Смирнов</h3>
                        <div class="text-secondary">Маркетолог</div>
                      </div>
                    </div>
                    <p>
                      Запускали викторину для вовлечения аудитории в Telegram-канале. Результат превзошел ожидания -
                      в 3 раза больше вовлеченности и множество новых подписчиков. Отличная платформа!
                    </p>
                  </div>
                </a>
              </div>
              <div class="col-4">
                <a href="#" class="card bg-surface-secondary">
                  <div class="card-body">
                    <div class="row mb-3">
                      <div class="col-auto"><span class="avatar avatar-md" style="background-image: url(../static/avatars/003m.jpg)"> </span></div>
                      <div class="col">
                        <h3 class="h3 m-0">Иван Козлов</h3>
                        <div class="text-secondary">Организатор мероприятий</div>
                      </div>
                    </div>
                    <p>
                      Проводим корпоративные викторины для тимбилдинга. Платформа позволяет легко создавать тематические
                      квизы и автоматически подводить итоги. Экономит массу времени на организации!
                    </p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section section-light mt-5">
      <div class="container">
        <div class="row justify-content-lg-center">
          <div class="col-sm-6 col-lg-3">
            <div class="text-center">
              <h2 class="display-5 m-0 fw-bold">500+</h2>
              <p class="text-secondary m-0">активных викторин</p>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div class="text-center">
              <h2 class="display-5 m-0 fw-bold">50k+</h2>
              <p class="text-secondary m-0">участников</p>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div class="text-center">
              <h2 class="display-5 m-0 fw-bold">99.9%</h2>
              <p class="text-secondary m-0">доступность</p>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div class="text-center">
              <h2 class="display-5 m-0 fw-bold">4.8/5</h2>
              <p class="text-secondary m-0">рейтинг довольных клиентов</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section mt-5">
      <div class="container">
        <div class="section-header mb-6">
          <h2 class="section-title">Подпишитесь на нашу рассылку</h2>
          <p class="section-description">Получайте новости о новых функциях и лучшие практики проведения викторин</p>
        </div>
      </div>
      <div class="container-tight">
        <div class="row">
          <div class="col">
            <input class="w-100 form-control" placeholder="Ваш Email" type="email">
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary">
              <!-- Download SVG icon from http://tabler.io/icons/icon/mail -->
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-1">
                <path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"></path>
                <path d="M3 7l9 6l9 -6"></path>
              </svg>
              Подписаться
            </button>
          </div>
        </div>
      </div>
    </section>
    <section class="section section-light mt-5">
      <div class="container">
        <div class="row g-xl-6">
          <div class="col-lg-4">
            <div class="section-header text-start sticky-top">
              <div class="section-title">Частые вопросы</div>
              <p class="section-description">Не нашли ответ? Обратитесь в нашу службу поддержки.</p>
            </div>
          </div>
          <div class="col-lg">
            <div class="space-y-5">
              <div>
                <div class="h3 mb-1">Нужны ли технические знания для использования платформы?</div>
                <div class="text-secondary">
                  Нет! Наш конструктор викторин интуитивно понятен и не требует программирования.
                  Вы сможете создавать викторины за несколько минут с помощью визуального редактора.
                </div>
              </div>
              <div>
                <div class="h3 mb-1">Сколько участников может одновременно проходить викторину?</div>
                <div class="text-secondary">Наша платформа масштабируется под любые нагрузки. Мы поддерживаем викторины
                с тысячами участников одновременно без потери производительности.</div>
              </div>
              <div>
                <div class="h3 mb-1">Можно ли интегрировать викторины с другими системами?</div>
                <div class="text-secondary">
                  Да! Мы предоставляем API для интеграции с вашими системами. Также поддерживается
                  экспорт результатов в CSV и Excel для дальнейшего анализа.
                </div>
              </div>
            </div>
            <div class="mt-5">
              <a class="btn" href="#">Читать больше вопросов</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer mt-5">
      <div class="container">
        <div class="py-3">
          <div class="row g-lg-4">
            <div class="col-lg-7">
              <div class="row g-lg-4">
                <div class="col-md">
                  <div class="subheader mb-3">Наши продукты</div>
                  <ul class="list-unstyled list-separated gap-2">
                    <li><a class="link-secondary" href="">Конструктор викторин</a></li>
                    <li>
                      <a class="link-secondary" href="">Telegram боты</a>
                    </li>
                    <li>
                      <a class="link-secondary" href="">Аналитика</a>
                    </li>
                    <li><a class="link-secondary" href="">Тарифы</a></li>
                  </ul>
                </div>
                <div class="col-md">
                  <div class="subheader mb-3">Поддержка</div>
                  <ul class="list-unstyled list-separated gap-2">
                    <li><a class="link-secondary" href="">Блог</a></li>
                    <li><a class="link-secondary" href="">Документация</a></li>
                    <li><a class="link-secondary" href="">Поддержка</a></li>
                    <li>
                      <a href="https://status.tabler.io" class="link-secondary" target="_blank" rel="noreferrer">Статус</a>
                    </li>
                  </ul>
                </div>
                <div class="col-md">
                  <div class="subheader mb-3">QuizBot Pro</div>
                  <ul class="list-unstyled list-separated gap-2">
                    <li><a class="link-secondary" href="">О компании</a></li>
                    <li><a class="link-secondary" href="">Блог</a></li>
                    <li><a class="link-secondary" href="">Обновления</a></li>
                    <li>
                      <a href="https://github.com/tabler/tabler" class="link-secondary" target="_blank" rel="noreferrer">API</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-4 ml-auto">
              <div class="text-secondary">
                QuizBot Pro предоставляет все необходимое для создания увлекательных викторин в Telegram.
                Начните свое путешествие в мир интерактивного контента и вовлекайте аудиторию по-новому.
              </div>
            </div>
          </div>
          <div class="row g-lg-4 justify-content-between mt-0 mt-md-2">
            <div class="col-sm-7 col-md-6 col-lg-4">
              <h5 class="subheader">Безопасность и надежность</h5>
              <ul class="list-inline mb-0 mt-3">
                <li class="list-inline-item">
                  <a href="#"><span class="payment payment-1 payment-provider-paypal"></span> </a>
                </li>
                <li class="list-inline-item">
                  <a href="#"><span class="payment payment-1 payment-provider-visa"></span> </a>
                </li>
                <li class="list-inline-item">
                  <a href="#"><span class="payment payment-1 payment-provider-mastercard"></span> </a>
                </li>
                <li class="list-inline-item">
                  <a href="#"><span class="payment payment-1 payment-provider-americanexpress"></span> </a>
                </li>
              </ul>
            </div>
            <div class="col-sm-5 col-md-6 col-lg-3 text-sm-end">
              <h5 class="subheader">Мы в соцсетях</h5>
              <ul class="list-inline mb-0 mt-3">
                <li class="list-inline-item">
                  <a class="btn btn-icon btn-facebook" href="#"><!-- Download SVG icon from http://tabler.io/icons/icon/brand-facebook -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-1">
                      <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3"></path></svg></a>
                </li>
                <li class="list-inline-item">
                  <a class="btn btn-icon btn-instagram" href="#"><!-- Download SVG icon from http://tabler.io/icons/icon/brand-instagram -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-1">
                      <path d="M4 8a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"></path>
                      <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
                      <path d="M16.5 7.5v.01"></path></svg></a>
                </li>
                <li class="list-inline-item">
                  <a class="btn btn-icon btn-twitter" href="#"><!-- Download SVG icon from http://tabler.io/icons/icon/brand-twitter -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-1">
                      <path d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c0 -.249 1.51 -2.772 1.818 -4.013z"></path></svg></a>
                </li>
                <li class="list-inline-item">
                  <a class="btn btn-icon btn-linkedin" href="#"><!-- Download SVG icon from http://tabler.io/icons/icon/brand-linkedin -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-1">
                      <path d="M8 11v5"></path>
                      <path d="M8 8v.01"></path>
                      <path d="M12 16v-5"></path>
                      <path d="M16 16v-3a2 2 0 1 0 -4 0"></path>
                      <path d="M3 7a4 4 0 0 1 4 -4h10a4 4 0 0 1 4 4v10a4 4 0 0 1 -4 4h-10a4 4 0 0 1 -4 -4z"></path></svg></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <footer class="footer">
      <div class="container">
        <div class="py-3 border-top-light text-center text-lg-start">
          <div class="row g-lg-4">
            <div class="col-lg-auto text-lg-end order-lg-last">
              <div class="row justify-center">
                <div class="col-auto">©<a href="https://codecalm.net" class="link-secondary" target="_blank" rel="noopener noreferrer">QuizBot Pro 2024</a></div>
                <div class="col-auto">
                  <ul class="list-inline list-inline-dots">
                    <li class="list-inline-item">
                      <a class="link-secondary" href="/terms-of-service">Условия использования</a>
                    </li>
                    <li class="list-inline-item">
                      <a class="link-secondary" href="/privacy-policy">Политика конфиденциальности</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg">
              Сделано с
              <!-- Download SVG icon from http://tabler.io/icons/icon/heart -->
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon text-red icon-inline icon-4">
                <path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"></path>
              </svg>
              для вашего успеха.
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div class="settings">
      <a href="#" class="btn btn-floating btn-icon btn-primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSettings" aria-controls="offcanvasSettings" aria-label="Theme Settings">
        <!-- Download SVG icon from http://tabler.io/icons/icon/brush -->
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-1">
          <path d="M3 21v-4a4 4 0 1 1 4 4h-4"></path>
          <path d="M21 3a16 16 0 0 0 -12.8 10.2"></path>
          <path d="M21 3a16 16 0 0 1 -10.2 12.8"></path>
          <path d="M10.6 9a9 9 0 0 1 4.4 4.4"></path>
        </svg>
      </a>
      <form class="offcanvas offcanvas-start offcanvas-narrow" tabindex="-1" id="offcanvasSettings">
        <div class="offcanvas-header">
          <h2 class="offcanvas-title">Theme Settings</h2>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body d-flex flex-column">
          <div>
            <div class="mb-4">
              <label class="form-label">Color mode</label>
              <p class="form-hint">Choose the color mode for your app.</p>
              <label class="form-check">
                <div class="form-selectgroup-item">
                  <input type="radio" name="theme" value="light" class="form-check-input" checked="">
                  <div class="form-check-label">Light</div>
                </div>
              </label>
              <label class="form-check">
                <div class="form-selectgroup-item">
                  <input type="radio" name="theme" value="dark" class="form-check-input">
                  <div class="form-check-label">Dark</div>
                </div>
              </label>
            </div>
            <div class="mb-4">
              <label class="form-label">Color scheme</label>
              <p class="form-hint">The perfect color mode for your app.</p>
              <div class="row g-2">
                <div class="col-auto">
                  <label class="form-colorinput">
                    <input name="theme-primary" type="radio" value="blue" class="form-colorinput-input">
                    <span class="form-colorinput-color bg-blue"></span>
                  </label>
                </div>
                <div class="col-auto">
                  <label class="form-colorinput">
                    <input name="theme-primary" type="radio" value="azure" class="form-colorinput-input">
                    <span class="form-colorinput-color bg-azure"></span>
                  </label>
                </div>
                <div class="col-auto">
                  <label class="form-colorinput">
                    <input name="theme-primary" type="radio" value="indigo" class="form-colorinput-input">
                    <span class="form-colorinput-color bg-indigo"></span>
                  </label>
                </div>
                <div class="col-auto">
                  <label class="form-colorinput">
                    <input name="theme-primary" type="radio" value="purple" class="form-colorinput-input">
                    <span class="form-colorinput-color bg-purple"></span>
                  </label>
                </div>
                <div class="col-auto">
                  <label class="form-colorinput">
                    <input name="theme-primary" type="radio" value="pink" class="form-colorinput-input">
                    <span class="form-colorinput-color bg-pink"></span>
                  </label>
                </div>
                <div class="col-auto">
                  <label class="form-colorinput">
                    <input name="theme-primary" type="radio" value="red" class="form-colorinput-input">
                    <span class="form-colorinput-color bg-red"></span>
                  </label>
                </div>
                <div class="col-auto">
                  <label class="form-colorinput">
                    <input name="theme-primary" type="radio" value="orange" class="form-colorinput-input">
                    <span class="form-colorinput-color bg-orange"></span>
                  </label>
                </div>
                <div class="col-auto">
                  <label class="form-colorinput">
                    <input name="theme-primary" type="radio" value="yellow" class="form-colorinput-input">
                    <span class="form-colorinput-color bg-yellow"></span>
                  </label>
                </div>
                <div class="col-auto">
                  <label class="form-colorinput">
                    <input name="theme-primary" type="radio" value="lime" class="form-colorinput-input">
                    <span class="form-colorinput-color bg-lime"></span>
                  </label>
                </div>
                <div class="col-auto">
                  <label class="form-colorinput">
                    <input name="theme-primary" type="radio" value="green" class="form-colorinput-input">
                    <span class="form-colorinput-color bg-green"></span>
                  </label>
                </div>
                <div class="col-auto">
                  <label class="form-colorinput">
                    <input name="theme-primary" type="radio" value="teal" class="form-colorinput-input">
                    <span class="form-colorinput-color bg-teal"></span>
                  </label>
                </div>
                <div class="col-auto">
                  <label class="form-colorinput">
                    <input name="theme-primary" type="radio" value="cyan" class="form-colorinput-input">
                    <span class="form-colorinput-color bg-cyan"></span>
                  </label>
                </div>
              </div>
            </div>
            <div class="mb-4">
              <label class="form-label">Font family</label>
              <p class="form-hint">Choose the font family that fits your app.</p>
              <div>
                <label class="form-check">
                  <div class="form-selectgroup-item">
                    <input type="radio" name="theme-font" value="sans-serif" class="form-check-input" checked="">
                    <div class="form-check-label">Sans-serif</div>
                  </div>
                </label>
                <label class="form-check">
                  <div class="form-selectgroup-item">
                    <input type="radio" name="theme-font" value="serif" class="form-check-input">
                    <div class="form-check-label">Serif</div>
                  </div>
                </label>
                <label class="form-check">
                  <div class="form-selectgroup-item">
                    <input type="radio" name="theme-font" value="monospace" class="form-check-input">
                    <div class="form-check-label">Monospace</div>
                  </div>
                </label>
                <label class="form-check">
                  <div class="form-selectgroup-item">
                    <input type="radio" name="theme-font" value="comic" class="form-check-input">
                    <div class="form-check-label">Comic</div>
                  </div>
                </label>
              </div>
            </div>
            <div class="mb-4">
              <label class="form-label">Theme base</label>
              <p class="form-hint">Choose the gray shade for your app.</p>
              <div>
                <label class="form-check">
                  <div class="form-selectgroup-item">
                    <input type="radio" name="theme-base" value="slate" class="form-check-input">
                    <div class="form-check-label">Slate</div>
                  </div>
                </label>
                <label class="form-check">
                  <div class="form-selectgroup-item">
                    <input type="radio" name="theme-base" value="gray" class="form-check-input" checked="">
                    <div class="form-check-label">Gray</div>
                  </div>
                </label>
                <label class="form-check">
                  <div class="form-selectgroup-item">
                    <input type="radio" name="theme-base" value="zinc" class="form-check-input">
                    <div class="form-check-label">Zinc</div>
                  </div>
                </label>
                <label class="form-check">
                  <div class="form-selectgroup-item">
                    <input type="radio" name="theme-base" value="neutral" class="form-check-input">
                    <div class="form-check-label">Neutral</div>
                  </div>
                </label>
                <label class="form-check">
                  <div class="form-selectgroup-item">
                    <input type="radio" name="theme-base" value="stone" class="form-check-input">
                    <div class="form-check-label">Stone</div>
                  </div>
                </label>
              </div>
            </div>
            <div class="mb-4">
              <label class="form-label">Corner Radius</label>
              <p class="form-hint">Choose the border radius factor for your app.</p>
              <div>
                <label class="form-check">
                  <div class="form-selectgroup-item">
                    <input type="radio" name="theme-radius" value="0" class="form-check-input">
                    <div class="form-check-label">0</div>
                  </div>
                </label>
                <label class="form-check">
                  <div class="form-selectgroup-item">
                    <input type="radio" name="theme-radius" value="0.5" class="form-check-input">
                    <div class="form-check-label">0.5</div>
                  </div>
                </label>
                <label class="form-check">
                  <div class="form-selectgroup-item">
                    <input type="radio" name="theme-radius" value="1" class="form-check-input" checked="">
                    <div class="form-check-label">1</div>
                  </div>
                </label>
                <label class="form-check">
                  <div class="form-selectgroup-item">
                    <input type="radio" name="theme-radius" value="1.5" class="form-check-input">
                    <div class="form-check-label">1.5</div>
                  </div>
                </label>
                <label class="form-check">
                  <div class="form-selectgroup-item">
                    <input type="radio" name="theme-radius" value="2" class="form-check-input">
                    <div class="form-check-label">2</div>
                  </div>
                </label>
              </div>
            </div>
          </div>
          <div class="mt-auto space-y">
            <button type="button" class="btn w-100" id="reset-changes">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-1">
                <path d="M19.95 11a8 8 0 1 0 -.5 4m.5 5v-5h-5"></path>
              </svg>
              Reset changes
            </button>
            <a href="#" class="btn btn-primary w-100" data-bs-dismiss="offcanvas"> Save </a>
          </div>
        </div>
      </form>
    </div>
</body>
{% endblock %}