<div class="modal-header">
    <h5 class="modal-title">Удаление викторины</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<form method="post" action="{% url 'quiz:delete_quiz' quiz.pk %}">
    <div class="modal-body">
        {% csrf_token %}
        Вы уверены что, хотите удалить викторину?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn me-auto" data-bs-dismiss="modal">Закрыть</button>
        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Удалить</button>
    </div>
</form>
